<app-navbar></app-navbar>

<section class="section container">
  <article class="first">
    <div class="header">
      <img
        class="img-circle"
        src="/assets/uploads/users/user1.jpg"
        alt="user-1"
      />
    </div>

    <div class="education">
      <div class="divisor">
        <hr />
        <h2>Educación</h2>
        <hr />
      </div>

      <div class="card first">
        <div>
          <h3>Ingeniería de Sistemas</h3>
          <p>Universidad Simón Bolívar</p>
          <span>Cursando 9° semestre</span>
          <div class="text-primary">
            <hr />
            <button mat-button>Logros</button>
            <button mat-button>Cualificaciones</button>
          </div>
        </div>
      </div>
    </div>

    <div class="qualifications">
      <div class="divisor">
        <hr />
        <h2>Cualificaciones</h2>
        <hr />
      </div>

      <div class="card second">
        <div>
          <h3>Formación básica para docencia universitaria</h3>
          <p>Universidad Simón Bolívar</p>
          <span>Hace 1 año</span>
          <div class="text-primary">
            <hr />
            <button mat-button>Logros</button>
            <button mat-button>Cualificaciones</button>
          </div>
        </div>

        <div>
          <h3>Desarrollador Frontend</h3>
          <p>Fundación Carlos Slim</p>
          <span>Hace 8 meses</span>
          <div class="text-primary">
            <hr />
            <button mat-button>Logros</button>
            <button mat-button>Cualificaciones</button>
          </div>
        </div>

        <div>
          <h3>Desarrollador Angular</h3>
          <p>Udemy</p>
          <span>Hace 9 meses</span>
          <div class="text-primary">
            <hr />
            <button mat-button>Logros</button>
            <button mat-button>Cualificaciones</button>
          </div>
        </div>

        <div>
          <h3>Técnico en reparación y mantenimiento de computadores</h3>
          <p>Fundación Carlos Slim</p>
          <span>Hace 8 meses</span>
          <div class="text-primary">
            <hr />
            <button mat-button>Logros</button>
            <button mat-button>Cualificaciones</button>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="second">
    <div class="header">
      <div class="card presentation">
        <div class="section-title">
          <h1>Victor Guzmán</h1>
          <div>
            <hr />
            <h2>Desarrollador Jr</h2>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr.
        </p>
      </div>
    </div>

    <div class="experiences">
      <div class="divisor">
        <hr />
        <h2>Experiencias</h2>
        <hr />
      </div>

      <div class="card experience">
        <div class="card-content">
          <img
            src="https://www.tithink.com/wp-content/uploads/2018/05/practicas-desarollo-software.jpeg"
            alt="software-developer"
          />
          <div>
            <div class="section-title">
              <h2>Software Developer / Desarrollador</h2>
              <div>
                <hr />
                <h3>Actualmente</h3>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et.
            </p>
          </div>
        </div>

        <div class="divisor text-primary">
          <hr />
          <button mat-button class="buttons active">Logros</button>
          <button mat-button class="buttons">Actividades</button>
          <button mat-button class="buttons">Cualificaciones</button>
          <hr />
        </div>
      </div>
    </div>
  </article>
</section>
