@import "../../../../assets/styles/variables.scss";

.header {
  article {
    padding-bottom: 0px;
    .card {
      margin: 0px 15px;
      @media (max-width: 767px) {
        margin: 0px;
      }

      .userimg {
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 767px) {
          margin-bottom: 1rem;
        }
        img {
          font-size: 130px;
          min-width: 2em;
          min-height: 2em;
          max-width: 2em;
          max-height: 2em;

          //Media queries
          @media (max-width: 1640px) {
            font-size: 120px;
          }
          @media (max-width: 1440px) {
            font-size: 100px;
          }
          @media (max-width: 1200px) {
            font-size: 95px;
          }
          @media (max-width: 992px) {
            font-size: 90px;
          }
          @media (max-width: 768px) {
            font-size: 85px;
          }
          @media (max-width: 600px) {
            font-size: 80px;
          }
          @media (max-width: 480px) {
            font-size: 75px;
          }
          @media (max-width: 360px) {
            font-size: 70px;
          }
        }
      }
      .presentation {
        .skills {
          display: flex;
          align-items: center;
          @media (max-width: 480px) {
            flex-direction: column;
            align-items: flex-start;
          }

          h6 {
            white-space: nowrap;
            margin: 10px 0px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.divisor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0rem;
  hr {
    margin: 0px 1rem;
  }
  &.divisor-left {
    margin: 0px;
    justify-content: flex-start;

    @media (max-width: 1120px) {
      align-items: flex-start;
      flex-direction: column;
    }
    div {
      display: flex;
      align-items: center;
      hr {
        @media (max-width: 1120px) {
          margin-left: 0px;
        }
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $gray;
      }
    }
  }
}

.info {
  .container {
    padding-top: 0px;
    .education {
      @media (max-width: 767px) {
        padding: 0px;
      }

      .card {
        // display: flex;
        align-items: center;
        div {
          width: 100%;
          .title {
            flex-direction: column;
            align-items: flex-start;
            h6 {
              color: $gray;
            }
          }
          .buttons {
            div {
              hr {
                width: 15px;
                margin-left: 0px;
                background-color: $primary;
              }
            }
          }
        }
        hr {
          margin: 1rem;
          width: 30%;
          background-color: rgba($color: $gray, $alpha: 0.1);
        }
        .chip {
          margin-bottom: -20px;
        }
      }
    }
  }
}
