<app-navbar></app-navbar>

<section class="section login">
  <div class="content">
    <h1>Bienvenido a Ingeblog</h1>

    <p>
      Inscríbete en los cursos, descarga contenido, deja tus opiniones, adquiere
      beneficios exclusivos para usuarios registrados.
    </p>

    <button class="google-button">Continuar con Google</button>

    <button class="facebook-button">Continuar con Facebook</button>

    <p>O inicia sesión con tus credenciales</p>

    <div>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Correo electrónico"
        required
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
        required
      />
      <button class="button-primary">Continuar</button>
    </div>
  </div>
</section>
